<div class="container mt-5 form">
  <h2>Crea un Nou Projecte</h2>
  <div class="form-group">
    <form [formGroup]="projecteForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" id="nom" class="form-control" formControlName="nom" required>
        <div *ngIf="projecteForm.get('nom')?.invalid && (projecteForm.get('nom')?.touched || projecteForm.get('nom')?.dirty)">
          <small class="text-danger">El nom és obligatori.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="estat" class="form-label">Estat</label>
        <select name="estat" id="estat" class="form-control" formControlName="estat" required>
          <option value="">Selecciona un estat</option>
          <option value="Actiu">Actiu</option>
        </select>
        <div *ngIf="projecteForm.get('estat')?.invalid && (projecteForm.get('estat')?.touched || projecteForm.get('estat')?.dirty)">
          <small class="text-danger">L'estat és obligatori.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcio" class="form-label">Descripció</label>
        <textarea id="descripcio" class="form-control" formControlName="descripcio"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Crear Projecte</button>
      <button class="btn btn-secondary ms-2" [routerLink]="['/empresa', empresaId, 'projecte']">Cancel·lar</button>
    </form>
  </div>
</div>
