<div class="container mt-5">
  <div class="tasca-list">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Llistat de Tasques del Projecte</h2>
      <button class="btn btn-primary" [routerLink]="['/empresa', empresaId, 'projecte', projecteId, 'tasques', 'create']">Afegir Tasca</button>
      <button class="btn btn-secondary" [routerLink]="['/empresa', empresaId, 'projecte']">Tornar a Projectes</button>
    </div>

    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Descripció</th>
          <th>Estat</th>
          <th>Data Inici</th>
          <th>Data Fi</th>
          <th>Accions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tasca of tasques">
          <td>{{ tasca.tascaId }}</td>
          <td>{{ tasca.nom }}</td>
          <td>{{ tasca.descripcio }}</td>
          <td>{{ tasca.estat }}</td>
          <td>{{ tasca.dataInici | date:'dd/MM/yyyy' }}</td>
          <td>{{ tasca.dataFi ? (tasca.dataFi | date:'dd/MM/yyyy') : 'Encara no completada' }}</td>
          <td>
            <button class="btn btn-secondary btn-sm" [routerLink]="['/empresa', empresaId, 'projecte', projecteId, 'tasques', 'update', tasca.tascaId]">Actualitzar</button>
            <button class="btn btn-danger btn-sm ms-2" (click)="openDeleteModal(tasca.tascaId)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
