<div class="container mt-5 form">
  <h2>{{'Actualitzar Empresa' | translate}}</h2>
  <div class="form-group">
    <form [formGroup]="empresaForm" (ngSubmit)="ngOnSubmit()">
      <label for="nom">{{'Nom' | translate}}:</label>
      <input id="nom" class="form-control" formControlName="nom" required />
      <div *ngIf="empresaForm.get('nom')?.invalid && (empresaForm.get('nom')?.touched || empresaForm.get('nom')?.dirty)">
        <small class="text-danger">{{'El nom és obligatori' | translate}}</small>
      </div>

      <label for="adreca">{{'Adreça' | translate}}:</label>
      <input id="adreca" class="form-control" formControlName="adreca" required />
      <div *ngIf="empresaForm.get('adreca')?.invalid && (empresaForm.get('adreca')?.touched || empresaForm.get('adreca')?.dirty)">
        <small class="text-danger">{{"L'adreça és obligatoria" | translate}}</small>
      </div>

      <label for="cif">CIF:</label>
      <input id="cif" class="form-control" formControlName="cif" required />
      <div *ngIf="empresaForm.get('cif')?.touched">
        <small class="text-danger" *ngIf="empresaForm.get('cif')?.hasError('required')">{{'El CIF és obligatori' | translate}}</small>
        <small class="text-danger" *ngIf="empresaForm.get('cif')?.hasError('cifInvalid')">{{'El CIF no té el format correcte' | translate}}</small>
      </div>
      <button class="btn btn-primary mt-2" type="submit" [disabled]="empresaForm.invalid">{{'Actualitzar Empresa' | translate}}</button>
      <button class="btn btn-secondary  mt-2 ms-2" [routerLink]="['/empresaes']">{{'Cancel·lar' | translate}}</button>
    </form>
  </div>
</div>
