<div class="container mt-5 form">
  <h2>Actualitzar client</h2>
  <div class="form-group">
    <form [formGroup]="clientForm" (ngSubmit)="ngOnSubmit()">
      <label for="nom">Nom:</label>
      <input id="nom" class="form-control" formControlName="nom" required>
      <div *ngIf="clientForm.get('nom')?.invalid && (clientForm.get('nom')?.touched || clientForm.get('nom')?.dirty)">
        <small class="text-danger">El nom és obligatori.</small>
      </div>

      <label for="email">Email:</label>
      <input id="email" class="form-control" formControlName="email" required>
      <div *ngIf="clientForm.get('email')?.hasError('required') && (clientForm.get('email')?.touched || clientForm.get('email')?.dirty)">
        <small class="text-danger">L'email és obligatori.</small>
      </div>
      <div *ngIf="clientForm.get('email')?.hasError('email') && clientForm.get('email')?.dirty">
        <small class="text-danger">L'email no és vàlid.</small>
      </div>

      <label for="adreca">Adreça:</label>
      <input id="adreca" class="form-control" formControlName="adreca" required>
      <div *ngIf="clientForm.get('adreca')?.invalid && (clientForm.get('adreca')?.touched || clientForm.get('adreca')?.dirty)">
        <small class="text-danger">L'adreça és obligatoria.</small>
      </div>

      <button class="btn btn-primary mt-2" type="submit" [disabled]="clientForm.invalid">Actualitzar client</button>
      <button class="btn btn-secondary mt-2 ms-2" [routerLink]="['/empresa', empresaId, 'projecte', projecteId, 'client']">Cancel·lar</button>
    </form>
  </div>
</div>
