<div class="container mt-5">
  <div class="treballador-list">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Llistat de Treballadors de l'Empresa {{ empresaId }}</h2>
      <button class="btn btn-primary" [routerLink]="['/empresa', empresaId, 'treballadors', 'create']">Afegir Treballador</button>
    </div>

    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Posicio</th>
          <th>Salari</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let treballador of treballadors">
          <td>{{ treballador.treballadorId }}</td>
          <td>{{ treballador.nom }}</td>
          <td>{{ treballador.posicio }}</td>
          <td>{{ treballador.salari }}</td>
          <td>{{ treballador.email }}</td>
          <td>
            <button class="btn btn-secondary btn-sm" [routerLink]="['/empresa', empresaId, 'treballadors', 'update', treballador.treballadorId]">Actualitzar dades</button>
            <button class="btn btn-info btn-sm ms-2" [routerLink]="['/empresa', empresaId, 'treballador', treballador.treballadorId, 'tasques']">Veure tasques</button>
            <button class="btn btn-danger btn-sm ms-2" (click)="deleteTreballador(treballador.treballadorId)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
