/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.translate-button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: white;
}

.btn-primary {
  background-color: #84c400;
  border: none;

}

.btn-primary:hover {
  background-color: #93db03;
}

.btn-info {
  color: black;
  background-color: #f9f3e9;
  border-color: black;
}

.btn-info:hover {
  background-color: #e9e2d5;
  border-color: black;
}

.container.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .form-group {
    max-width: 500px;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  button {
    cursor: pointer;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
}

.mdc-button__label {
  color: white;
}

.create-snackbar {
  background-color: #81C784;
}

.update-snackbar {
  background-color: #64B5F6;
}

.delete-snackbar {
  background-color: #FFB74D;
}

.error-snackbar {
  background-color: #F44336;
}
